/* screen - sign-in */

.sign-in {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 834px;
  padding: 110px 361px;
  width: 1194px;
}

.sign-in .group-557 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 23.0px;
  min-height: 108px;
  width: 231px;
}

.sign-in .music-note {
  align-items: flex-start;
  display: flex;
  height: 44px;
  justify-content: flex-end;
  margin-right: 15.0px;
  min-width: 44px;
}

.sign-in .overlap-group {
  height: 45px;
  margin-top: -0.67px;
  position: relative;
  width: 45px;
}

.sign-in .rectangle-563 {
  border: 5px solid;
  border-color: var(--mirage-2);
  border-radius: 3px 0px 3px 3px;
  height: 14px;
  left: 0;
  position: absolute;
  top: 20px;
  width: 14px;
}

.sign-in .rectangle-566 {
  border: 5px solid;
  border-color: var(--mirage-2);
  border-radius: 3px 0px 3px 3px;
  height: 14px;
  left: 13px;
  position: absolute;
  top: 31px;
  width: 14px;
}

.sign-in .rectangle-567 {
  border: 5px solid;
  border-color: var(--mirage-2);
  border-radius: 3px 0px 3px 3px;
  height: 14px;
  left: 31px;
  position: absolute;
  top: 27px;
  width: 14px;
}

.sign-in .vector-251 {
  height: 10px;
  left: 24px;
  position: absolute;
  top: 17px;
  width: 20px;
}

.sign-in .rectangle-564 {
  height: 25px;
  left: 9px;
  position: absolute;
  top: 0;
  width: 14px;
}

.sign-in .rectangle-565 {
  height: 29px;
  left: 22px;
  position: absolute;
  top: 7px;
  width: 23px;
}

.sign-in .pian-ease {
  letter-spacing: 1.00px;
  line-height: 44px;
  min-width: 231px;
  text-align: center;
  white-space: nowrap;
}

.sign-in .frame-462 {
  align-items: flex-start;
  gap: 16px;
  margin-left: 8.0px;
  margin-top: 32px;
  width: 434px;
}

.sign-in .tabs {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 12px;
  padding: 16px 12px;
  position: relative;
}

.sign-in .frame-7 {
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 0px 10px;
  width: fit-content;
}

.sign-in .selected {
  color: var(--mirage-2);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-s);
  font-weight: 600;
  letter-spacing: 0.25px;
  line-height: 22px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.sign-in .line {
  align-self: stretch;
  height: 2px;
  min-width: 185px;
  position: relative;
}

.sign-in .tabs-1 {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 12px;
  overflow: hidden;
  padding: 16px 12px;
  position: relative;
}

.sign-in .frame-7-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0px 10px;
  position: relative;
  width: fit-content;
}

.sign-in .unselected {
  color: var(--santas-gray);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-s);
  font-weight: 600;
  letter-spacing: 0.25px;
  line-height: 22px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.sign-in .line-1 {
  align-self: stretch;
  height: 1px;
  margin-left: -1161.00px;
  min-width: 185px;
  position: relative;
}

.sign-in .input {
  align-items: flex-start;
  background-color: var(--athens-gray);
  border-radius: 16px;
  display: flex;
  height: 56px;
  margin-left: 1.0px;
  margin-top: 25px;
  min-width: 465px;
  padding: 14px 24px;
}

.sign-in .phone-number {
  background-color: transparent;
  border: 0;
  height: 24px;
  letter-spacing: 0.75px;
  line-height: 24px;
  padding: 0;
  position: relative;
  white-space: nowrap;
  width: 83px;
}

.sign-in .phone-number::placeholder {
  color: #6e719199;
}

.sign-in .phone-number-1 {
  background-color: transparent;
  border: 0;
  height: 24px;
  letter-spacing: 0.75px;
  line-height: 24px;
  padding: 0;
  position: relative;
  white-space: nowrap;
  width: 78px;
}

.sign-in .phone-number-1::placeholder {
  color: #6e719199;
}

.sign-in .button {
  align-items: center;
  align-self: flex-end;
  background-color: var(--royal-blue);
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  gap: 12px;
  justify-content: center;
  margin-right: 1px;
  margin-top: 55px;
  padding: 16px 24px;
  position: relative;
  width: 467px;
}

.sign-in .button-1 {
  cursor: pointer;
  letter-spacing: 0.75px;
  line-height: 24px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.sign-in .overlap-group1 {
  align-self: flex-start;
  border-radius: 12px;
  height: 56px;
  margin-top: 54px;
  position: relative;
  width: 469px;
}

.sign-in .button-2 {
  align-items: center;
  border-radius: 12px;
  display: flex;
  gap: 12px;
  justify-content: center;
  left: 0;
  padding: 16px 24px;
  position: absolute;
  top: 0;
  width: 469px;
}

.sign-in .button-3 {
  color: #1e1e1e;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-weight: 600;
  letter-spacing: 0.75px;
  line-height: 24px;
  margin-top: -2.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.sign-in .group-551 {
  height: 19px;
  left: 334px;
  position: absolute;
  top: 18px;
  width: 19px;
}
