/* screen - twinkle-twinkle-little-star */

.twinkle-twinkle-little-star {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 834px;
  overflow: hidden;
  width: 1194px;
}

.twinkle-twinkle-little-star .frame-194 {
  align-items: center;
  background-color: var(--baby-powder);
  border-radius: 12px;
  gap: 40px;
  height: 74px;
  padding: 16px 32px;
  width: 1194px;
}

.twinkle-twinkle-little-star .frame-186 {
  align-items: flex-start;
  gap: 10px;
  margin-bottom: -1.00px;
  margin-top: -1.00px;
  width: 106px;
}

.twinkle-twinkle-little-star .logo-group {
  align-items: center;
  display: flex;
  gap: 12px;
  margin-right: -13.00px;
  position: relative;
  width: fit-content;
}

.twinkle-twinkle-little-star .pian-ease {
  letter-spacing: 1.00px;
  line-height: 44px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.twinkle-twinkle-little-star .frame-184 {
  align-items: flex-start;
  flex: 1;
  gap: 16px;
  margin-bottom: -7.50px;
  margin-top: -7.50px;
}

.twinkle-twinkle-little-star .input {
  background-color: var(--white-lilac);
  border-radius: 16px;
  flex: 1;
  height: 57px;
  min-width: 523px;
  position: relative;
}

.twinkle-twinkle-little-star .search {
  height: 24px;
  letter-spacing: 0.75px;
  line-height: 24px;
  min-width: 110px;
  position: relative;
  white-space: nowrap;
}

.twinkle-twinkle-little-star .frame-187 {
  align-items: center;
  gap: 16px;
  justify-content: flex-end;
  margin-bottom: -7.00px;
  margin-top: -7.00px;
  width: 421px;
}

.twinkle-twinkle-little-star .button {
  align-items: center;
  border: 2px solid;
  border-color: var(--geyser);
  border-radius: 12px;
  display: flex;
  gap: 12px;
  justify-content: center;
  padding: 16px 24px;
  position: relative;
  width: fit-content;
}

.twinkle-twinkle-little-star .overlap-group {
  height: 24px;
  position: relative;
  width: 24px;
}

.twinkle-twinkle-little-star .ellipse-42 {
  border: 2px solid;
  border-color: var(--santas-gray);
  border-radius: 5px;
  height: 10px;
  left: 7px;
  position: absolute;
  top: 7px;
  width: 10px;
}

.twinkle-twinkle-little-star .star-2 {
  height: 24px;
  left: 0;
  position: absolute;
  top: 0;
  width: 24px;
}

.twinkle-twinkle-little-star .avatar-and-label {
  align-items: flex-start;
  display: flex;
  gap: 5px;
  position: relative;
  width: fit-content;
}

.twinkle-twinkle-little-star .frame-166 {
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 5px 10px;
  width: fit-content;
}

.twinkle-twinkle-little-star .pearl-torgrimson {
  letter-spacing: 0.25px;
  line-height: 22px;
  margin-top: 12px;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: fit-content;
}

.twinkle-twinkle-little-star .avatar {
  align-items: flex-end;
  display: flex;
  gap: 5302px;
  left: 4px;
  min-width: 48px;
  position: relative;
  top: 4px;
}

.twinkle-twinkle-little-star .radius-mask {
  height: 48px;
  margin-bottom: -515px;
  margin-left: -5350px;
  width: 48px;
}

.twinkle-twinkle-little-star .people {
  height: 48px;
  width: 48px;
}

.twinkle-twinkle-little-star .flex-row {
  align-items: center;
  display: flex;
  gap: 20px;
  margin-left: 32px;
  margin-top: 25px;
  min-width: 446px;
}

.twinkle-twinkle-little-star .music-note {
  align-items: center;
  display: flex;
  height: 33px;
  margin-top: 1.0px;
  min-width: 33px;
  padding: 0 0.4px;
}

.twinkle-twinkle-little-star .overlap-group-container {
  height: 32px;
  position: relative;
  width: 32px;
}

.twinkle-twinkle-little-star .overlap-group2 {
  height: 24px;
  left: 0;
  position: absolute;
  top: 0;
  width: 16px;
}

.twinkle-twinkle-little-star .rectangle-563 {
  border: 2px solid;
  border-color: var(--mirage-2);
  border-radius: 3px 0px 3px 3px;
  height: 9px;
  left: 0;
  position: absolute;
  top: 15px;
  width: 9px;
}

.twinkle-twinkle-little-star .rectangle-564 {
  height: 17px;
  left: 7px;
  position: absolute;
  top: 0;
  width: 9px;
}

.twinkle-twinkle-little-star .overlap-group1 {
  height: 27px;
  left: 10px;
  position: absolute;
  top: 6px;
  width: 23px;
}

.twinkle-twinkle-little-star .rectangle-566 {
  border: 2px solid;
  border-color: var(--mirage-2);
  border-radius: 3px 0px 3px 3px;
  height: 9px;
  left: 0;
  position: absolute;
  top: 18px;
  width: 9px;
}

.twinkle-twinkle-little-star .rectangle-567 {
  border: 2px solid;
  border-color: var(--mirage-2);
  border-radius: 3px 0px 3px 3px;
  height: 9px;
  left: 14px;
  position: absolute;
  top: 15px;
  width: 9px;
}

.twinkle-twinkle-little-star .vector-251 {
  height: 6px;
  left: 8px;
  position: absolute;
  top: 7px;
  width: 14px;
}

.twinkle-twinkle-little-star .rectangle-565 {
  height: 20px;
  left: 7px;
  position: absolute;
  top: 0;
  width: 16px;
}

.twinkle-twinkle-little-star .title {
  height: 56px;
  letter-spacing: 1.00px;
  line-height: 56px;
  min-width: 393px;
  white-space: nowrap;
}

.twinkle-twinkle-little-star .overlap-group5 {
  height: 677px;
  margin-top: 9px;
  position: relative;
  width: 1218px;
}

.twinkle-twinkle-little-star .rectangle-652 {
  background-color: var(--white);
  border: 3px solid;
  border-color: var(--mirage);
  height: 338px;
  left: 579px;
  position: absolute;
  top: 339px;
  width: 84px;
}

.twinkle-twinkle-little-star .rectangle-653 {
  background-color: var(--white);
  border: 3px solid;
  border-color: var(--mirage);
  height: 338px;
  left: 658px;
  position: absolute;
  top: 339px;
  width: 84px;
}

.twinkle-twinkle-little-star .rectangle-654 {
  background-color: var(--white);
  border: 3px solid;
  border-color: var(--mirage);
  height: 338px;
  left: 737px;
  position: absolute;
  top: 339px;
  width: 84px;
}

.twinkle-twinkle-little-star .rectangle-655 {
  background-color: var(--mirage);
  height: 200px;
  left: 717px;
  position: absolute;
  top: 339px;
  width: 39px;
}

.twinkle-twinkle-little-star .rectangle-657 {
  background-color: var(--white);
  border: 3px solid;
  border-color: var(--mirage);
  height: 338px;
  left: 816px;
  position: absolute;
  top: 339px;
  width: 84px;
}

.twinkle-twinkle-little-star .rectangle-658 {
  background-color: var(--mirage);
  height: 200px;
  left: 797px;
  position: absolute;
  top: 339px;
  width: 39px;
}

.twinkle-twinkle-little-star .rectangle-659 {
  background-color: var(--white);
  border: 3px solid;
  border-color: var(--mirage);
  height: 338px;
  left: 895px;
  position: absolute;
  top: 339px;
  width: 84px;
}

.twinkle-twinkle-little-star .rectangle-669 {
  background-color: var(--white);
  border: 3px solid;
  border-color: var(--mirage);
  height: 338px;
  left: 976px;
  position: absolute;
  top: 339px;
  width: 84px;
}

.twinkle-twinkle-little-star .rectangle-670 {
  background-color: var(--white);
  border: 3px solid;
  border-color: var(--mirage);
  height: 338px;
  left: 1055px;
  position: absolute;
  top: 339px;
  width: 84px;
}

.twinkle-twinkle-little-star .rectangle-671 {
  background-color: var(--white);
  border: 3px solid;
  border-color: var(--mirage);
  height: 338px;
  left: 1134px;
  position: absolute;
  top: 339px;
  width: 84px;
}

.twinkle-twinkle-little-star .rectangle-662 {
  background-color: var(--white);
  border: 3px solid;
  border-color: var(--mirage);
  height: 338px;
  left: 182px;
  position: absolute;
  top: 339px;
  width: 84px;
}

.twinkle-twinkle-little-star .rectangle-663 {
  background-color: var(--white);
  border: 3px solid;
  border-color: var(--mirage);
  height: 338px;
  left: 261px;
  position: absolute;
  top: 339px;
  width: 84px;
}

.twinkle-twinkle-little-star .rectangle-674 {
  background-color: var(--white);
  border: 3px solid;
  border-color: var(--mirage);
  height: 338px;
  left: 22px;
  position: absolute;
  top: 339px;
  width: 84px;
}

.twinkle-twinkle-little-star .rectangle-675 {
  background-color: var(--white);
  border: 3px solid;
  border-color: var(--mirage);
  height: 338px;
  left: 101px;
  position: absolute;
  top: 339px;
  width: 84px;
}

.twinkle-twinkle-little-star .rectangle-664 {
  background-color: var(--white);
  border: 3px solid;
  border-color: var(--mirage);
  height: 338px;
  left: 340px;
  position: absolute;
  top: 339px;
  width: 84px;
}

.twinkle-twinkle-little-star .rectangle-665 {
  background-color: var(--white);
  border: 3px solid;
  border-color: var(--mirage);
  height: 338px;
  left: 419px;
  position: absolute;
  top: 339px;
  width: 84px;
}

.twinkle-twinkle-little-star .rectangle-666 {
  background-color: var(--white);
  border: 3px solid;
  border-color: var(--mirage);
  height: 338px;
  left: 498px;
  position: absolute;
  top: 339px;
  width: 84px;
}

.twinkle-twinkle-little-star .rectangle-656 {
  background-color: var(--mirage);
  height: 200px;
  left: 640px;
  position: absolute;
  top: 339px;
  width: 39px;
}

.twinkle-twinkle-little-star .overlap-group4 {
  height: 61px;
  left: 343px;
  position: absolute;
  top: 591px;
  width: 79px;
}

.twinkle-twinkle-little-star .ellipse-139 {
  background-color: #bdea77;
  border-radius: 26.69px;
  height: 53px;
  left: 13px;
  position: absolute;
  top: 4px;
  width: 53px;
}

.twinkle-twinkle-little-star .rectangle-683 {
  border: 2px solid;
  border-color: var(--royal-blue);
  border-radius: 6px;
  height: 30px;
  left: 341px;
  position: absolute;
  top: 310px;
  width: 83px;
}
